@page "/"

<h1>Home</h1>

<div class="container-fluid h-100 d-flex justify-content-center align-items-center mt-3">
	<div class="card mb-3" style="flex: 1; max-width: 600px;">
		<div class="row g-0">
			<div class="col-md-4 d-flex justify-content-center align-items-center" style="min-height: 100px;">
				<i class="bi bi-chat-right-quote" style="font-size: 2.5rem;"></i>
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">Recommendation</h5>
					<p class="card-text">Improve your vocabulary by conversing in Vietnamese.</p>
					<a href="chat" class="btn btn-primary">Start chatting</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid h-100 d-flex justify-content-center align-items-center">
	<div class="card mb-3" style="flex: 1; max-width: 600px;">
		<div class="row g-0">
			<div class="col-md-4 d-flex justify-content-center align-items-center" style="min-height: 100px;">
				<i class="bi bi-card-list" style="font-size: 2.5rem;"></i>
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">Review</h5>
					<p class="card-text">Strengthen words you've already encountered.</p>
					<a href="wordList" class="btn btn-primary">Go to list</a>
				</div>
			</div>
		</div>
	</div>

</div>